body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 400;
}
div,
p,
input,
button,
form,
span,
a,
ul,
li {
  box-sizing: border-box;
}

p {
  line-height: 1.65em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
.section-title,
.btn,
.skill-title,
.skill-text {
  color: #2e2a1b;
}
.skill-text {
  font-weight: normal;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.header {
  background: linear-gradient(103.21deg, #4dbefd 0%, #378fd9 100%);
  padding-top: 65px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 37px;
}
.big {
  font-size: 59px;
}
.intro {
  width: 360px;
  margin-top: 45px;
  margin-bottom: 65px;
  line-height: 1.65;
}
.btn {
  text-decoration: none;
  background: #ffd429;
  width: 222px;
  padding: 20px 25px;
  text-align: center;
  font-weight: 900;
}
.btn:hover {
  background: #f5c504;
  transition: all 0.5s ease;
}
.feature {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-title {
  font-size: 30px;
  text-align: center;
  margin: 0;
}
.feature-skills {
  margin-top: 75px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.skill-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 19px;
}
.skill-text {
  width: 295px;
}
.order {
  background: #ecf3f8;
  padding-top: 100px;
  padding-bottom: 100px;
  display: block;
  text-align: center;
}
.form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-input {
  width: 340px;
  height: 50px;
  border: 1px solid #bbbbbb;
  margin: 0 auto 15px;
  display: block;
  padding-left: 20px;
  box-sizing: border-box;
}

.form-btn {
  margin: 0 auto;
  width: 340px;
  border: none;
  height: 56px;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer {
  background: #164d7a;
  padding-top: 60px;
  padding-bottom: 65px;
}
.footer-text {
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .offer {
    margin-top: 85px;
  }
  .intro {
    margin-top: 20px;
    margin-bottom: 45px;
  }
  .header-img {
    width: 500px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
  .wrapper {
    flex-direction: column;
  }
  .header-img {
    width: 100%;
    margin-top: 60px;
  }
  .feature-skills {
    flex-direction: column;
    align-items: center;
  }
  .skill {
    margin-bottom: 30px;
  }
  .skill-title {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
  .title {
    font-size: 24px;
  }
  .big {
    font-size: 38px;
  }
  .btn {
    font-size: 11px;
  }
  .section-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .title {
    width: auto;
  }
  .big {
    width: auto;
  }
  .intro {
    width: auto;
  }
  .form-input {
    width: auto;
  }
  .form-btn {
    max-width: 198px;
    align-items: center;
  }
}
